:root {
  --accent_color: #000C35;
  --accent_color_2: #e94f37;
  --accent_color_3: #26a671;
  --white: #F9F9FF;
  --black: #000C35;
  --transparant: hsla(226, 100%, 10%, 5%);
  --display_font: 'League Gothic', sans-serif;
  --header_font: "Fraunces", serif;
  --body_font: "Roboto", sans-serif;

  --text: #000C35;
  --line: #bbc1e1;
  --line-active: #195cc8;


  --font-size-xxxl: 






}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--white);
  font-family: var(--body_font);
}
body,
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.background{
  font-family: var(--display_font);
  color: var(--transparant);
  text-transform: uppercase;
  font-size: 600px;
  z-index: -10;
  position: fixed;
}


/*Preloader*/
.preloader{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--line);
  z-index: 100;
}

.counter::before{
  content: 'L';
  /* position: absolute; */
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent_color_2);
}

.counter{
  position: relative;
  color: var(--white);
  font-size: 16em;
  font-weight: 700;
  z-index: 1;
}

.counter:after{
  content: 'ading';
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent_color_2);
}

.hide{
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

/*text boxes*/

#welcomeText {
  margin-top: 9vw;
  animation: welcome-load 1s 0.5s ease;
  animation-fill-mode: forwards;
  min-width: 340px;
  color: var(--accent_color);
 
}

#welcomeText p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1em;
}

.textElement {
  margin-left: 3vw;
  width: 40vw;
  min-width: 340px;
}

.scroll {
  text-align: center;
  text-decoration: underline;
  margin-top: 10em;
}

/*links*/

a,
a:visited {
  text-decoration: none;
  color: var(--text);
  transition: all;
}

a:hover {
 text-decoration: line-through;
}

a:active {
  color: var(--accent_color);
}

/*header + footer */
header{
  width: 100%;
  position: fixed;
  top: 0;
  
}

header, footer{
  padding: 1vw;
  font-size: 10px;
  text-transform: uppercase;
  color: inherit;
 
}

header ul, footer ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.landingPage {
  /* position: relative; */
  height: 80vh;
}

/*Project gallery*/
.projectGallery {
  margin-top: 3vw;
}
.projectGallery ul li {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5vw;
  margin: 2vw;
  padding: 10vw 0;
  align-items: center;
  border-bottom: 3px solid var(--accent_color);
}

/* .description {
  max-width: 70%;
} */

.projectImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projectImage img {
  max-width: 100%;
  height: auto;
}

.description p,
.aboutSection p {
  margin: 20px 0 0 0;
}

.projectImage a,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: var(--accent_color);
  transition: all 0.7s;
}

.projectImage a:hover {
  opacity: 0.9;
  font-size: 1.05rem;
  text-decoration: underline;
}

/*handwriting*/
.handwriting {
  border: none;
  width: 40%;
}
#first {
  stroke-dasharray: 1129.7293701171875;
  stroke-dashoffset: 1129.7293701171875;

  animation: m 0.8s ease-in;
  animation-fill-mode: forwards;
}

@keyframes m {
  to {
    stroke-dashoffset: 0;
  }
}

#second {
  stroke-dasharray: 724.6718139648438;
  stroke-dashoffset: 724.6718139648438;

  animation: os 1s 0.8s linear;
  animation-fill-mode: forwards;
}

@keyframes os {
  to {
    stroke-dashoffset: 0;
  }
}

#third {
  stroke-dasharray: 871.1315307617188;
  stroke-dashoffset: 871.1315307617188;

  animation: ho 1s 1.7s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ho {
  to {
    stroke-dashoffset: 0;
  }
}

#four {
  stroke-dasharray: 646.6912841796875;
  stroke-dashoffset: 646.6912841796875;

  animation: lm 1.4s 2.7s ease-out;
  animation-fill-mode: forwards;
}

@keyframes lm {
  to {
    stroke-dashoffset: 0;
  }
}

/*aboutSection*/
.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw 0;
}
.aboutSection .textElement {
  margin: 0;
}

.contactInfo {
  padding: 5vw 0 0 0;
}
.contactInfo ul li {
  list-style: none;
}


/*mediaQ*/
@media screen and (max-width: 415px) {
  #welcomeText p {
    font-size: 2rem;
    margin: auto;
  }
}
