:root {
  --accent_color: #003cc4;
  --accent_color_2: #e94f37;
  --accent_color_3: #26a671;
  --white: #fefefa;
  --black: #141414;
  --header_font: "Fraunces", serif;
  --body_font: "Roboto", sans-serif;

  --text: #2b3044;
  --line: #bbc1e1;
  --line-active: #195cc8;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--white);
  font-family: var(--body_font);
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

main {
  margin: 0 4vw;
}

/*text boxes*/

#welcomeText {
  margin-top: 9vw;
  animation: welcome-load 1s 1.5s ease-in;
  animation-fill-mode: forwards;
  min-width: 340px;
  /* transform: translatex(-100%); */
}

/* @keyframes welcome-load {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  } */

#welcomeText p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1em;
}

.textElement {
  margin-left: 3vw;
  width: 40vw;
  min-width: 340px;
}

.scroll {
  text-align: center;
  text-decoration: underline;
  margin-top: 10em;
}

/*links*/

a,
a:visited {
  text-decoration: none;
  color: var(--text);
  transition: all 0.6s;
}

a:hover {
  opacity: 0.9;
  font-size: 1.05rem;
}

a:active {
  color: var(--accent_color);
}

/*header + footer */
header,
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2em;
}

nav {
  justify-self: end;
}

nav ul,
footer ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li,
footer ul li {
  list-style: none;
  margin-left: 1.5vw;
}

.landingPage {
  position: relative;
  height: 80vh;
}

/*Project gallery*/
.projectGallery {
  margin-top: 3vw;
}
.projectGallery ul li {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5vw;
  margin: 2vw;
  padding-bottom: 2vw;
  align-items: center;
  border-bottom: 1px solid var(--black);
}

/* .description {
  max-width: 70%;
} */

.projectImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectImage img {
  max-width: 100%;
  height: auto;
}

.description p {
  margin: 20px 0;
}

/*handwriting*/
.handwriting {
  border: none;
  width: 40%;
}
#first {
  stroke-dasharray: 1129.7293701171875;
  stroke-dashoffset: 1129.7293701171875;

  animation: m 0.8s ease-in;
  animation-fill-mode: forwards;
}

@keyframes m {
  to {
    stroke-dashoffset: 0;
  }
}

#second {
  stroke-dasharray: 724.6718139648438;
  stroke-dashoffset: 724.6718139648438;

  animation: os 1s 0.8s linear;
  animation-fill-mode: forwards;
}

@keyframes os {
  to {
    stroke-dashoffset: 0;
  }
}

#third {
  stroke-dasharray: 871.1315307617188;
  stroke-dashoffset: 871.1315307617188;

  animation: ho 1s 1.7s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ho {
  to {
    stroke-dashoffset: 0;
  }
}

#four {
  stroke-dasharray: 646.6912841796875;
  stroke-dashoffset: 646.6912841796875;

  animation: lm 1.4s 2.7s ease-out;
  animation-fill-mode: forwards;
}

@keyframes lm {
  to {
    stroke-dashoffset: 0;
  }
}

/*portfolio circle*/

.gallery {
  width: 90vw;
  display: grid;

  min-height: 400px;
}

#landing {
  position: relative;
  /* top: 7vw; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landingcontainer {
  position: absolute;
  left: 0;
  width: 50%;
  height: 50%;
}

.out,
.inner {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.out img {
  animation: rotation 130s infinite linear;
}

.inner img {
  animation: rotation 50s reverse linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
/*preloader*/

.preloaderBg {
  background-color: var(--accent_color);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  cursor: none;
}

.preloaderBg svg {
  fill: var(--white);
  border: none;
  width: 30vw;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#leftEyeball,
#rightEyeball {
  height: 50vw;
  animation: move 1.4s 0.2s ease-out forwards;
}

@keyframes move {
  0% {
    transform: translate(0);
  }

  30% {
    transform: translate(-15%, 0);
  }
  65% {
    transform: translate(15%, 0);
  }
  100% {
    transform: translate(0, 22%);
  }
}

.preloaderBg.done {
  animation: load 1.7s 1.8s ease forwards;
}

@keyframes load {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
  }
}

/*mediaQ*/
@media screen and (max-width: 415px) {
  #welcomeText p {
    font-size: 2rem;
    margin: auto;
  }
}
